@font-face {
    font-family: 'Poppins';
    src: url('./Poppins/Poppins-Regular.eot');
    src: local('Poppins Regular'), local('Poppins-Regular'),
        url('./Poppins/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
        url('./Poppins/Poppins-Regular.woff') format('woff'),
        url('./Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url('./Poppins/Poppins-Bold.eot');
    src: local('Poppins Bold'), local('Poppins-Bold'),
        url('./Poppins/Poppins-Bold.eot?#iefix') format('embedded-opentype'),
        url('./Poppins/Poppins-Bold.woff') format('woff'),
        url('./Poppins/Poppins-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url('./Poppins/Poppins-ExtraBold.eot');
    src: local('Poppins ExtraBold'), local('Poppins-ExtraBold'),
        url('./Poppins/Poppins-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('./Poppins/Poppins-ExtraBold.woff') format('woff'),
        url('./Poppins/Poppins-ExtraBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url('./Poppins/Poppins-Thin.eot');
    src: local('Poppins Thin'), local('Poppins-Thin'),
        url('./Poppins/Poppins-Thin.eot?#iefix') format('embedded-opentype'),
        url('./Poppins/Poppins-Thin.woff') format('woff'),
        url('./Poppins/Poppins-Thin.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url('./Poppins/Poppins-Light.eot');
    src: local('Poppins Light'), local('Poppins-Light'),
        url('./Poppins/Poppins-Light.eot?#iefix') format('embedded-opentype'),
        url('./Poppins/Poppins-Light.woff') format('woff'),
        url('./Poppins/Poppins-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}